---
layout: default
---
<div class="post">

  <footer class="footer-nav">
  	<p>
  		{% if page.previous %}<a class="post-link" href="{{ page.previous.url }}">上一篇</a>{% endif %}
  		{% if page.next %}<a class="post-link" href="{{ page.next.url }}">下一篇</a>{% endif %}
  	</p>
  </footer>

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%Y-%m-%d" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <footer class="footer-nav">
  	<p>
  		{% if page.previous %}
  			<a class="post-link" href="{{ page.previous.url }}">上一篇</a>
  		{% endif %}
  		{% if page.next %}
  			<a class="post-link" href="{{ page.next.url }}">下一篇</a>
  		{% endif %}
  	</p>
  </footer>

</div>
